body
    header
        ul 
            li
                a(href="/home") Exchange 
            li
                a(href="/user") User Panel
            li
                form(method="POST", action="/logout")
                    button(type="submit") Logout